
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#Header_nav {
    height: 165px;
    background-color: #3b8302;
    padding: 18px 130px 0px 50px;

}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

                                                /* For Upper part  */
#h_logo {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#logo_calender {
    display: flex;
}

#c_logo img {
    height: 75px;
}

#h_calender {
    display: flex;
    margin: auto;
    margin-top: 12px;
    gap: 80px;
}

#h_calender>a img {
    height: 45px;
}

#h_calender>a:nth-child(1) {
    margin-right: -50px;
    margin-left: 85px;
}

#h_calender>h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 5px;
}

#h_calender>.h_arrow img {
    height: 35px;
    margin-top: 5px;
}

#h_topRight {
    display: flex;
    margin-top: 12px;
}

#h_plan img {
    height: 50px;
}

.drop_btn {
    color: white;
    padding: 18px;
    font-size: 30px;
}

.drop_btn:after {
    content: "\2807";
}

#h_nav {
    height: 50%;
}

.drop_btn:hover {
    cursor: pointer;
}

.dropdownlList:hover {
    background-color: #439435;
}

.dropdownlList-content {
    display: none;
    position: absolute;
    background-color: white;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    z-index: 1;
}

#mydropdownlList :nth-child(1),
#mydropdownlList :nth-child(4) {
    border-bottom: 1px solid lightgray;
}

.dropdownlList-content a {
    color: rgb(80, 78, 78);
    font-weight: 550;
    font-size: 19px;
    padding: 14px 16px;
    display: block;
}

.dropdownlList-content a:hover {
    background-color: #dfd7d7;
}

/* For function  */
.show {
    display: block;
    z-index: 11;
}

                                                    /* For last part  */

#h_nav{
    display: flex;
    justify-content:space-between;
    padding: 30px;
    font-size: 18px;
    margin-top: 5px;
}
#h_nav>div>a{
    color: white;
    font-weight: 550;
}
#h_nav>div:hover{
    cursor: pointer;
    border-bottom: 4px solid white;
}
#h_nav>div{
    width: auto;
    height: 36px;
}        
