<<<<<<< HEAD:Home Page/index.css
#header{
    height: 800px;
    display: flex;
    

    background: url(https://s3.amazonaws.com/img.mynetdiary.com/images/texture-noise@1x.png),radial-gradient(ellipse at top,#05b24a 0,#1eb553 60%);
}
#header>div{
    margin-top: 100px;
}
#header>.header1>h1{
    color: white;
    font-size: 80px;
    font-family: Rubik,Helvetica,Arial,sans-serif;
}
#header>.header1>h2{
    color: rgb(250, 240, 146);
    font-size: 40px;
    font-family: Cabin,Helvetica,Arial,sans-serif;
}
#header>.header1>#rup{
    display: flex;
   gap: 10px;
}
#rup>img{
    width: 30%;
    /* border: 1px solid red; */
    margin-top: 50px;

}
#header>.header1{
    margin-left: 80px;
}
#header>.header2>div{
    margin-left: -120px;
    border: 1px solid red;
}
#header>.header3{
    margin-top: 200px;
   

}
#header>.header3>div{
    width: 80%;
}


#plate{
    position: relative;
   margin-top: -100px;
   /* margin-left:150px ; */
   

}
#watch{
    margin-top: -100px;
    margin-left: -170px;
    width: 5%;

}


.womenhealth{
    margin-top: 240px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.womenhealth>img{
    margin-top: 30px;
    /* border: 1px solid red; */
   
}
.companies > div>div{
    /* border: 1px solid red; */

width: 70%;



margin: auto;

}

.companies>div>div>img{
    width: 80%;
    height: 80px;
    margin: auto;

}
.companies>div{
    padding: 80px 0;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    
    width: 85%;
}
.succeed >h1{
    color: #268FD0;
    text-align: center;
    font-size: 85px;
    font-family: 'Roboto', sans-serif;
}
.succeed{
    /* background-color: #F8F4F1; */
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    background: #fff url(https://s3.amazonaws.com/img.mynetdiary.com/images/pattern-grunge-400x400.jpg) 0 0 repeat;;
}
.white>a{
    text-decoration: none;
    /* border: 1px solid red; */
}
.succeed__content>h1{
    color:  #268FD0;
}
.succeed__content >h3{
    color:#46618A ;
    line-height: 1.4;
   

}
.succeed__content{
    text-align: center;
    width:47%;
    margin: 20px;
}
.succeed__contents{
    align-items: center;
justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.white{
    width:100%;
    height:450px;
    /* border-bottom: dashed #9e6868 1px; */
    align-items: center;
    text-align: center;
    margin:10px 0px 20px;
}
.white>a{
    margin-top: 100px;
    
}
.p1{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color:#3994e9;
    font-weight: 800;
    margin-top: 40px;
}
.p2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color:#164775;
    margin-top: 100px;
    font-weight: 500;
}
.inner{
    
    border:2px solid #7be67b;
    width:400px;
    height:80px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin:180px auto 30px;
    border-radius: 40px;
    color:#22a322;
    font-family: 'Raleway', sans-serif;
}
.p3{
    margin:15px auto;
    color:#22a322;
    text-decoration: none;
}
a:link {
text-decoration: none;
}
.inner:hover{
    border:2px solid green;
}

.prm{
    width:30%;
    height:620px;;
    margin:40px 30px 10px 40px;
    text-align: center;
    border-radius:10px;
}
.prm1{
    width:30%;
    height:620px;;
    margin:40px 30px 30px 40px;
    text-align: center;
    border-radius:10px;
}
.prm2{
    width:30%;
    height:620px;;
    margin:40px 40px 10px 40px;
    text-align: center;
    border-radius:10px;
}
.img1{
    width:100%;
    height:380px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #2e2e2d70  ,-5px -5px 5px #2e2e2d70 ;
}
.p4{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:#3994e9;
    margin:10px
}
.second{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    height: 800px;
    
    
}
.p5{
    font-size:25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color:#164775
}
.more{
    margin:160px auto;
    width:400px;
    height:80px;
    border:2px solid #7be67b;
   text-align: center;
   border-radius:40px;
   padding: 10px;
}
.second>.prm>img,.second>.prm2>img,.second>.prm1>img{
    height: 600px;

}
.p6{
    margin:15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color:#22a322;
    font-size: 20px;
}
.more:hover{
    border:2px solid green;
}

.carousel-inner{
   
   width:100%;
   height:800px;
   
}
.contain{
   width:100%;
   height:800px;
   background-color: rgb(25,159,69);
}

.inrcr{
   /* float:right; */
   width:50%;
   height:400px;
   margin:200px 100px 0px 50px;
}

.crimg{
  margin: 150px;
}
.h2{
   color:white;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 60px;
   margin:10px;
}
.read{
   border:2px solid green;
   color:white;
   font-family: 'Raleway', sans-serif;
   margin:30px 20px ;
   height:60px;
   width:40%;
   font-size: 20px;
   border-radius: 40px;
}
.read:hover{
    border:1px solid rgb(252,248,179)
}

.flex{
    display:flex;
   flex-direction: row;
}


.bottom__part{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    margin: auto;
   
}
.bottom__part h1{
    text-align: center;
    font-size: 53px;
    color:#268FD0;
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
       font-family: 'Rubik', sans-serif;
}
.bottom__cards__one,.bottom__cards__two,
.bottom__cards__three,.bottom__cards__four{
    width: 42%;
    
    border-radius: 10px;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
       font-family: 'Rubik', sans-serif;
       box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.bottom__cards__one img,.bottom__cards__two img,
.bottom__cards__three img, .bottom__cards__four img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.data__one h2,.data__two h2
,.data__three h2,.data__four h2{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
       font-family: 'Rubik', sans-serif;
       color: #46618A;
       line-height: 35px;
}
.dash__one,.dash__two
,.dash__three,.dash__four{
    background-color: #E6DBD9;
    width: 100px;
    height: 4px;
}
.data__one p,.data__two p,
.data__three p,.data__four p{
color: #46618A;
font-size: 16px;
line-height: 30px;
font-weight: bold;
}
.data__one,.data__two,
.data__three,.data__four{
    padding-left: 10px;
}
.bottom__cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 90%;
    margin:60px  auto;
    gap: 15px;
}
.btn{
    display: flex;
    justify-content: center;
    width: 100%;
   
}
.btn button{
    width: 300px;
    height: 70px;
    border-radius: 40px;
    color: #0BB850;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 30px auto;
    background-color: #FFFFFF;
    font-size: 20px;
    border: 1px solid #9DE3B9;
    /* margin-left: 490px; */
   
}
.btn button:hover{
    transform: scale(1.02);
    border: 1px solid #0BB850;
    border-style: #0BB850;
    border-color: #0BB850;
}
/* .btn .play__image img{
    width: 10px;
    height: 10px;
    padding-left: 22px;  
} */
.dotted__border{
    border: 1px dotted gray;
    
}
.company__images__div{
    width: 100%;
    height: 300px;
    margin: 20px auto;
}
.company__images__div h1{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
}
/* .company__images>div{
    width: 100%;
    height: 100%;
    display: flex; 
}
.company__images img{
    width: 160px;
    height: 98px;
    margin: 30px;
    margin-top: 50px;
    
} */
.cimage{
    /* border: 1px solid red; */
    width: 95%;
    height: 100px;
    display: flex;
    margin:50px auto;
}
.cimage>div{
    width: 80%;
    margin: auto;
   


}
.cimage>div>img{
    width: 75%;
    height: 80px;
}

.bottom__image{
    width: 100%;
    height: 700px;
    background-color: #F3973B;
    border-radius: 0% 100% 48% 52% / 0% 0% 5% 6%;
    display: flex;
    clip-path: polygon(0 0, 18% 6%, 38% 9%, 61% 9%, 82% 6%, 100% 0, 100% 23%, 100% 55%, 100% 100%, 35% 100%, 0 100%, 0 48%);
}
.bottom__image__left{
    width: 48%;
    height: 100%;
}
.bottom__image__right{
    width: 48%;
    height: 100%;
    
    
}
.bottom__image__left h1{
    color: #FFFFFF; 
   font-size: 75px;
    margin: 100px  auto auto 50px;
    text-align: left;

}
.bottom__image__left button{
    width: 210px;
    height: 80px;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: #0CBF53;
    font-size: 25px;
    font-weight: bold;
    border-style: none;
    box-shadow: 2.5px 2.5px 2.5px  gray;
   margin: 40px auto auto 70px;
}
.bottom__image__left button:hover{
    transform: scale(1.02);
    background-color:#19ca60 ;
}
.bottom__image__right img{
    width: 100%;
    margin-top: 150px;

}
.footer{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #F7F3F0;
    padding-top: 30px;
    
}
.footer__one{
    /* border: 1px solid black; */
    width: 25%;
    height: 100%;
}
.footer .footer__one .footer__one__logo  img{
 width: 100%;
}
.footer__one__twoImages{
    
    width: 100%;
    height: 100px;
    display: flex;
}
.footer__one__twoImages img{
    width: 150px;
    height: 150px;
    margin: 10px;

}
.footer__one__stars img{
    width: 20px;
    height: 20px;
    padding-top: 50px;
    margin-left: 5px;
}
.footer__one__stars span{
    
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.footer__two,.footer__three,.footer__four,.footer__five{
    /* border: 1px solid black; */
    width: 20%;
    height: 100%;  
}
.footer__logos{
    display: flex;
}
.footer__logos img{
    width: 45px;
    height: 45px;
    margin: 8px;
    margin-top: 30px;
    margin-left: 13px;
}
.footer__logos img:hover{
    transform: scale(1.02);
    box-shadow: 3px 3px 3px gray;
}
.footer__two h3,.footer__three h3,.footer__four h3
,.footer__five h3{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #466196;
    padding-left: 19px;
    
}
.footer__two li,.footer__three li
,.footer__four li,.footer__five li{
    font-size: 18px;
    line-height: 50px;
    color: #466196;
    font-family: 'Roboto', sans-serif;
}

.footer__final{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #EFEAE6;
    /* box-shadow: 2px 2px 2px gray; */

}
.footer__final__left{
    width: 45%;
    height: 100%;
}

.footer__final__left{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    color: #46618A;
    padding-top: 20px;
}
.footer__final__right{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 320px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #46618A;
}

   
=======

.womenhealth{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.womenhealth>img{
    margin-top: 30px;
    /* border: 1px solid red; */
   
}
.companies > div>div{
    /* border: 1px solid red; */

width: 70%;



margin: auto;

}

.companies>div>div>img{
    width: 80%;
    height: 80px;
    margin: auto;

}
.companies>div{
    padding: 80px 0;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    
    width: 85%;
}
.succeed >h1{
    color: #268FD0;
    text-align: center;
    font-size: 85px;
    font-family: 'Roboto', sans-serif;
}
.succeed{
    /* background-color: #F8F4F1; */
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    background: #fff url(https://s3.amazonaws.com/img.mynetdiary.com/images/pattern-grunge-400x400.jpg) 0 0 repeat;;
}
.white>a{
    text-decoration: none;
    /* border: 1px solid red; */
}
.succeed__content>h1{
    color:  #268FD0;
}
.succeed__content >h3{
    color:#46618A ;
    line-height: 1.4;
   

}
.succeed__content{
    text-align: center;
    width:47%;
    margin: 20px;
}
.succeed__contents{
    align-items: center;
justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.white{
    width:100%;
    height:450px;
    /* border-bottom: dashed #9e6868 1px; */
    align-items: center;
    text-align: center;
    margin:10px 0px 20px;
}
.white>a{
    margin-top: 100px;
    
}
.p1{
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    color:#3994e9;
    font-weight: 800;
    margin-top: 40px;
}
.p2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color:#164775;
    margin-top: 100px;
    font-weight: 500;
}
.inner{
    
    border:2px solid #7be67b;
    width:400px;
    height:80px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin:120px auto 30px;
    border-radius: 40px;
    color:#22a322;
    font-family: 'Raleway', sans-serif;
}
.p3{
    margin:15px auto;
    color:#22a322;
    text-decoration: none;
}
a:link {
text-decoration: none;
}
.inner:hover{
    border:2px solid green;
}

.prm{
    width:30%;
    height:620px;;
    margin:40px 30px 10px 40px;
    text-align: center;
    border-radius:10px;
}
.prm1{
    width:30%;
    height:620px;;
    margin:40px 30px 30px 40px;
    text-align: center;
    border-radius:10px;
}
.prm2{
    width:30%;
    height:620px;;
    margin:40px 40px 10px 40px;
    text-align: center;
    border-radius:10px;
}
.img1{
    width:100%;
    height:380px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #2e2e2d70  ,-5px -5px 5px #2e2e2d70 ;
}
.p4{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:#3994e9;
    margin:10px
}
.second{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    height: 800px;
    
    
}
.p5{
    font-size:25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color:#164775
}
.more{
    margin:100px auto;
    width:400px;
    height:80px;
    border:2px solid #7be67b;
   text-align: center;
   border-radius:40px;
   padding: 10px;
}
.second>.prm>img,.second>.prm2>img,.second>.prm1>img{
    height: 600px;

}
.p6{
    margin:15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color:#22a322;
    font-size: 20px;
}
.more:hover{
    border:2px solid green;
}

.carousel-inner{
   
   width:100%;
   height:800px;
   
}
.contain{
   width:100%;
   height:800px;
   background-color: rgb(25,159,69);
}

.inrcr{
   /* float:right; */
   width:50%;
   height:400px;
   margin:200px 100px 0px 50px;
}

.crimg{
  margin: 150px;
}
.h2{
   color:white;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 60px;
   margin:10px;
}
.read{
   border:2px solid green;
   color:white;
   font-family: 'Raleway', sans-serif;
   margin:30px 20px ;
   height:60px;
   width:40%;
   font-size: 20px;
   border-radius: 40px;
}
.read:hover{
    border:1px solid rgb(252,248,179)
}

.flex{
    display:flex;
   flex-direction: row;
}


.bottom__part{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    margin: auto;
   
}
.bottom__part h1{
    text-align: center;
    font-size: 53px;
    color:#268FD0;
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
       font-family: 'Rubik', sans-serif;
}
.bottom__cards__one,.bottom__cards__two,
.bottom__cards__three,.bottom__cards__four{
    width: 45%;
    
    border-radius: 10px;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
       font-family: 'Rubik', sans-serif;
       box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.bottom__cards__one img,.bottom__cards__two img,
.bottom__cards__three img, .bottom__cards__four img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.data__one h2,.data__two h2
,.data__three h2,.data__four h2{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
       font-family: 'Rubik', sans-serif;
       color: #46618A;
       line-height: 35px;
}
.dash__one,.dash__two
,.dash__three,.dash__four{
    background-color: #E6DBD9;
    width: 100px;
    height: 4px;
}
.data__one p,.data__two p,
.data__three p,.data__four p{
color: #46618A;
font-size: 16px;
line-height: 30px;
font-weight: bold;
}
.data__one,.data__two,
.data__three,.data__four{
    padding-left: 10px;
}
.bottom__cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 90%;
    margin:60px  auto;
    gap: 15px;
}
.btn{
    display: flex;
    justify-content: center;
    width: 100%;
   
}
.btn button{
    width: 300px;
    height: 70px;
    border-radius: 40px;
    color: #0BB850;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 30px auto;
    background-color: #FFFFFF;
    font-size: 20px;
    border: 1px solid #9DE3B9;
    /* margin-left: 490px; */
   
}
.btn button:hover{
    transform: scale(1.02);
    border: 1px solid #0BB850;
    border-style: #0BB850;
    border-color: #0BB850;
}
/* .btn .play__image img{
    width: 10px;
    height: 10px;
    padding-left: 22px;  
} */
.dotted__border{
    border: 1px dotted gray;
    
}
.company__images__div{
    width: 100%;
    height: 300px;
    margin: 20px auto;
}
.company__images__div h1{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
}
/* .company__images>div{
    width: 100%;
    height: 100%;
    display: flex; 
}
.company__images img{
    width: 160px;
    height: 98px;
    margin: 30px;
    margin-top: 50px;
    
} */
.cimage{
    /* border: 1px solid red; */
    width: 95%;
    height: 100px;
    display: flex;
    margin:50px auto;
}
.cimage>div{
    width: 80%;
    margin: auto;
   


}
.cimage>div>img{
    width: 75%;
    height: 80px;
}

.bottom__image{
    width: 100%;
    height: 700px;
    background-color: #F3973B;
    border-radius: 0% 100% 48% 52% / 0% 0% 5% 6%;
    display: flex;
    clip-path: polygon(0 0, 18% 6%, 38% 9%, 61% 9%, 82% 6%, 100% 0, 100% 23%, 100% 55%, 100% 100%, 35% 100%, 0 100%, 0 48%);
}
.bottom__image__left{
    width: 48%;
    height: 100%;
}
.bottom__image__right{
    width: 48%;
    height: 100%;
    
    
}
.bottom__image__left h1{
    color: #FFFFFF; 
   font-size: 75px;
    margin: 100px  auto auto 50px;
    text-align: left;

}
.bottom__image__left button{
    width: 210px;
    height: 80px;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: #0CBF53;
    font-size: 25px;
    font-weight: bold;
    border-style: none;
    box-shadow: 2.5px 2.5px 2.5px  gray;
   margin: 40px auto auto 70px;
}
.bottom__image__left button:hover{
    transform: scale(1.02);
    background-color:#19ca60 ;
}
.bottom__image__right img{
    width: 100%;
    margin-top: 150px;

}
.footer{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #F7F3F0;
    padding-top: 30px;
    
}
.footer__one{
    /* border: 1px solid black; */
    width: 25%;
    height: 100%;
}
.footer .footer__one .footer__one__logo  img{
 width: 100%;
}
.footer__one__twoImages{
    
    width: 100%;
    height: 100px;
    display: flex;
}
.footer__one__twoImages img{
    width: 150px;
    height: 150px;
    margin: 10px;

}
.footer__one__stars img{
    width: 20px;
    height: 20px;
    padding-top: 50px;
    margin-left: 5px;
}
.footer__one__stars span{
    
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.footer__two,.footer__three,.footer__four,.footer__five{
    /* border: 1px solid black; */
    width: 20%;
    height: 100%;  
}
.footer__logos{
    display: flex;
}
.footer__logos img{
    width: 45px;
    height: 45px;
    margin: 8px;
    margin-top: 30px;
    margin-left: 13px;
}
.footer__logos img:hover{
    transform: scale(1.02);
    box-shadow: 3px 3px 3px gray;
}
.footer__two h3,.footer__three h3,.footer__four h3
,.footer__five h3{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #466196;
    padding-left: 19px;
    
}
.footer__two li,.footer__three li
,.footer__four li,.footer__five li{
    font-size: 18px;
    line-height: 50px;
    color: #466196;
    font-family: 'Roboto', sans-serif;
}

.footer__final{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #EFEAE6;
    /* box-shadow: 2px 2px 2px gray; */

}
.footer__final__left{
    width: 45%;
    height: 100%;
}

.footer__final__left{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    color: #46618A;
    padding-top: 20px;
}
.footer__final__right{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 320px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #46618A;
}

   
>>>>>>> 6ed750c8bedb15125559c7e81ad5953e34b04d3f:index.css
