@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f0f0f0 ;
}




#Header_nav {
    height: 165px;
    background-color: #3b8302;
    padding: 18px 130px 0px 50px;

}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

                                                /* For Upper part  */
#h_logo {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#logo_calender {
    display: flex;
}

#c_logo img {
    height: 75px;
}

#h_calender {
    display: flex;
    margin: auto;
    margin-top: 12px;
    gap: 80px;
}

#h_calender>a img {
    height: 45px;
}

#h_calender>a:nth-child(1) {
    margin-right: -50px;
    margin-left: 85px;
}

#h_calender>h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 5px;
}

#h_calender>.h_arrow img {
    height: 35px;
    margin-top: 5px;
}

#h_topRight {
    display: flex;
    margin-top: 12px;
}

#h_plan img {
    height: 50px;
}

.drop_btn {
    color: white;
    padding: 18px;
    font-size: 30px;
}

.drop_btn:after {
    content: "\2807";
}

#h_nav {
    height: 50%;
}

.drop_btn:hover {
    cursor: pointer;
}

.dropdownlList:hover {
    background-color: #439435;
}

.dropdownlList-content {
    display: none;
    position: absolute;
    background-color: white;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    z-index: 1;
}

#mydropdownlList :nth-child(1),
#mydropdownlList :nth-child(4) {
    border-bottom: 1px solid lightgray;
}

.dropdownlList-content a {
    color: rgb(80, 78, 78);
    font-weight: 550;
    font-size: 19px;
    padding: 14px 16px;
    display: block;
}

.dropdownlList-content a:hover {
    background-color: #dfd7d7;
}

/* For function  */
.show {
    display: block;
    z-index: 11;
}

                                                    /* For last part  */

#h_nav{
    display: flex;
    justify-content:space-between;
    padding: 30px;
    font-size: 18px;
    margin-top: 5px;
}
#h_nav>div>a{
    color: white;
    font-weight: 550;
}
#h_nav>div:hover{
    cursor: pointer;
    border-bottom: 4px solid white;
}
#h_nav>div{
    width: auto;
    height: 36px;
}        



/* ==================================================================navend==================================== */
#big_box{
    width: 75%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
#in_box1{
    width: 25%;
}
#in_box1>div{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
#in_box1>div:hover{
    background-color: #cecece ;
    box-shadow: rgba(27, 24, 24, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
#in_box1>div>img{
    width: 10%;
    margin-right: 20px;
}
p+h1{
    color: rgb(102, 148, 33);
}
#in_box2{
    width: 72%;
}
#in_box2>div:first-child{
    margin-top: 40px;
}
#in_box2>div:first-child>p{
    display: inline;
    padding-left: 20px;
}
#in_box2>div:first-child>h1{
    display: inline;
}
input{
    border: none;
    font-size: 16px;
    width: 25%;
    border-bottom: 1px solid black;
}
a{
    text-decoration: none;
    color: #66a9c8;
}
.t_input>div{
    padding-left: 20px;
}
#moving_div{
    display: none;
}
#image_div{
    width: 75%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}#image_div>div>img{
    width: 100%;
    height: 55%;
}

span{
    display: block;
}
#sliding{
    cursor: pointer;
}
#sliding:hover{
    color: rgb(206, 122, 18);
}
.lef{
    margin-left: 20px;
}
.image_set{
    display: flex;
}
.image_set>img{
    width: 2%;
    height: 2%;
    margin-top: 18px;
}
#in_box2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 10px;
}
span+span{
    font-size: 14px;
    color: gray;
}
span+span+span{
    font-size: 25px;
    color: rgb(102, 148, 33);
    margin-top: 20px;
}
#x>input{
    color: rgb(102, 148, 33); 
}
#x+div{
    margin-top: 30px;
}
#cycle{
    position: absolute;
    top: 10%;
    right: -10%;
    box-shadow: none;
}
#cycle img{
    width: 75%;
}

/* =============================================footr start======================================== */

/* 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

#Footer_Last {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: #3b8302;
    color: #c6d6bb;
    margin-top: 1500px;

}

#tag_name>p:nth-child(1) {
    font-size: 21px;
    color: white;
}

#tag_name>p:nth-child(2) {
    margin-top: 30px;
    font-size: 14px;
}

.f_listli {
    font-size: 18px;
    width: 150px;
}

.f_listli li {
    margin-bottom: 10px;
}
.f_listli li:hover{
    cursor: pointer;
    border-bottom: 1px solid;
}

#f_help {
    color: #cfec2b;
}