/* For Footer  */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#Foot {
    border-bottom: 1px solid lightgray;
    display: flex;
    padding: 40px;
    padding-top: 65px;
    height: 560px;
    background-color: #f6f2ef;
}

#f_part1_logo {
    width: 350px;
    margin-bottom: 50px;
}

#f_part1_playstore {
    display: flex;
    gap: 15px;
}

#f_part1_playstore img {
    width: 165px;
    height: 90px;
}

#f_part1_rating {
    display: flex;
    gap: 2px;
    margin-bottom: 50px;
}

#f_part1_rating img {
    width: 28px;
}

#f_part1_rating p {
    margin-left: 11px;
    font-size: 22px;
    font-weight: 550;
    color: #59656e;
    font-family: 'Roboto', sans-serif;
}

#f_part1_social {
    display: flex;
    gap: 20px;
}

#f_part1_social img {
    width: 55px;
    height: 55px;
    gap: 20px;
}

#f_part2 {
    margin-left: 80px;
}

#f_li {
    display: flex;
    margin: auto;
    margin-top: 0px;
    gap: 40px;
    color: #3d5681;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}

#f_li>div>h3 {
    margin-top: 20px;
    margin-left: -20px;
    font-size: 24px;
    margin-bottom: 50px;
}

#f_li>div>ul>li {
    margin-bottom: 23px;
}

#f_li>div>ul>li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Last Part  */
#Foot_last {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    padding-top: 50px;
    height: 125px;
    font-size: 20px;
    font-weight: 550;
    color: #425b88;
    background-color: #f0ece8;
    font-family: 'Roboto', sans-serif;
}

#fl_part2 {
    display: flex;
    gap: 20px;
}

#fl_part2>p:hover {
    cursor: pointer;
    text-decoration: underline;
}